.post-list {
  .post {
    margin: 10px 0;

    .post-header {
      padding: 5px 20px;
      border-radius: 5px;
      background: #f0f0f0;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);

      transition: transform 0.05s ease-in;

      &:hover {
        transform: scale(1, 1.1);
      }

      a.title {
        display: inline-block;
        font-size: 18px;

        &:hover {
          text-decoration: none;
        }
      }

      span {
        &:before {
          content: ' \b7\a0 ';
        }

        display: inline-block;
        color: #aab;
      }
    }
  }
}

.comment-list {
  list-style-type: none;
  padding: 0;

  li {
    padding: 5px 20px;
    margin: 0 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px #aaa solid;

    .comment-header {
      color: #aaa;
      margin: 0;;

      span:not(:first-child):before {
        content: ' \b7\a0 ';
      }
    }

    .comment-body {
      margin: 0;
      color: #000;
      padding: 5px 20px;
    }
  }
}
